.list {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --border-color: #afb1b8;
  --team-background-color: #f5f4fa;
  --portfolio-btn-back-color: #f5f4fa;
  --border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
/*########## HEADER ############*/
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color);
}
.head {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
}
.header-list .item + .item {
  margin-left: 50px;
}
.header-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.head .header-list:last-child {
  margin-left: auto;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);

  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
.menu-link {
  color: var(--main-color);
}
.contact-link {
  color: var(--secondary-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.studio {
  color: var(--accent-color);
}
.portfolio {
  color: var(--accent-color);
}
.header-list .item {
  display: flex;
  justify-content: center;
}
/*########## MAIN ############*/
/*########## HERO ############*/
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/overlay/overlay.jpg');
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-color);

  margin-top: 0;
  margin-bottom: 30px;
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: inline-block;
  padding: 10px 32px;
}
.container-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
/*########## ABOUT US ############*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-us {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
}
.about-us .item + .item {
  margin-left: 30px;
}
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 10px;
}
.about-us-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 0;
}
.back-icon-about {
  width: 270px;
  height: 120px;
  background: var(--portfolio-btn-back-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-icon-about .icon-about {
  width: 70px;
  height: 70px;
}
/*########## OUR WORK ############*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
.title-work {
  margin-bottom: 50px;
}
.list-work {
  display: flex;
}
.list-work .item + .item {
  margin-left: 30px;
}
/*########## OUR TEAM ############*/
.team-list {
  display: flex;
}
.team-list .card + .card {
  margin-left: 30px;
}
.card {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;

  background: var(--btn-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team {
  background-color: var(--team-background-color);
}
.title-team {
  margin-bottom: 50px;
}
.team-img {
  margin-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 30;
}
/*########## OUR CLIENTS ############*/
.title-clients {
  margin-bottom: 50px;
}
.list-clients {
  display: flex;
  justify-content: space-between;
}
.back-icon-clients {
  width: 170px;
  height: 92px;
  background: var(--portfolio-btn-back-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-icon-clients .icon-clients {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.icon-clients:hover,
.icon-clients:focus {
  fill: var(--accent-color);
}
.back-icon-clients:hover {
  border-color: var(--accent-color);
}
/*########## FOOTER ############*/

.footer {
  background-color: var(--hero-background-color);
}
.footer-address {
  padding-top: 60px;
  padding-bottom: 60px;
}
.link-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
}
.address {
  margin-top: 20px;
}
.address .list {
  padding-left: 0;
}
.margin {
  margin-bottom: 9px;
}
.contacts-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 70px;
}
.footer-flex {
  display: flex;
}
.social {
  margin-top: 72px;
}
.www {
  width: 44px;
  height: 44px;
  fill: #2196f3;
}

/*########## PORTFOLIO (PAGE) ############*/
.hidden {
  display: none;
}
.list-btn {
  display: flex;
  justify-content: center;
}
.list-btn .item + .item {
  margin-left: 8px;
}
.portfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-btn-back-color);
  cursor: pointer;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  margin-bottom: 50px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}
.card-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-icon {
  margin-bottom: 20px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
}
.portfolio-card {
  background-color: var(--btn-text-color);
  border: 1px solid var(--portfolio-border-color);
  box-sizing: border-box;

  width: 370px;
  height: 404px;
}
.portfolio-card:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
